# Configuración para AWS EC2 - Producción

# Django Settings
SECRET_KEY=tu-secret-key-super-segura-aqui
DEBUG=False
ALLOWED_HOSTS=18.224.183.43,ec2-18-224-183-43.us-east-2.compute.amazonaws.com

# Database (PostgreSQL en EC2)
DB_NAME=biometria
DB_USER=admin
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=5432

# CORS & CSRF - IP pública de EC2
CSRF_TRUSTED_ORIGINS=http://18.224.183.43:8000
CORS_ALLOWED_ORIGINS=http://18.224.183.43:8000

# Media files storage
MEDIA_ROOT=/var/www/biometria
